DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=rsisa_lokal
JWT_SECRET=CHANGE-ME-DI-PRODUCTION
PORT=4000
FRONTEND_URL=http://localhost:5173

# Production example:
# DB_HOST=10.10.10.150
# DB_PORT=6033
# DB_USER=antrol
# DB_PASSWORD=CHANGE-ME
# DB_NAME=kpc
# PORT=3000
# FRONTEND_URL=https://rsisanggoro.com
